
<%- include('partials/head')%>

    <h2>HEJ <span style="<%= style %>"><%= name %></span> DU ÄR INLOGGAD</h2>

    <button class="mt-8 bg-pink-500 text-white px-4 py-3 text-xl" onclick="getColor()">Hämta favoritfärg</button>
    <a class="mt-8 bg-pink-500 text-white px-4 py-3 text-xl" href="/logout">Logga ut</a>

    <script>
        function getColor(){
            fetch('http://localhost:3000/api/getFavoriteColor')
            .then(data => {
                console.log(typeof data)
                return data.json();
            })
            .then(json => {
                console.log(json.color)
                console.log(json);


                const h2 = document.createElement('h2');
                h2.innerText = json.color; 
                h2.style.color = `${json.color}`; 
                document.body.appendChild(h2);
            })
        
        }

    </script>

<%- include('partials/footer');%>