
<%- include('partials/head')%>

    <h2>HEJ <span style="<%= style %>"><%= name %></span> DU ÄR INLOGGAD</h2>

    <!-- <button onclick="getUserName()">Hämta användarnamn</button> -->
    <!-- <button onclick="getUserName()">Hämta namn</button> -->
    <button class="mt-8 bg-pink-500 text-white px-4 py-3 text-xl" onclick="getColor()">Hämta favoritfärg</button>


    <script>
        function getColor(){
            fetch('http://localhost:3000/api/getFavoriteColor')
            .then(data => {
                console.log(typeof data)
                return data.json();
            })
            .then(json => {
                console.log(json);
    
            })
            
        }
    </script>

<%- include('partials/footer');%>