<%- include('./../partials/head');%>

<form action="/posts" method="post">
        
    <input type="text" name="title">
    <textarea name="content" rows="3" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..."></textarea>

    <button class="mt-8 bg-pink-500 text-white px-4 py-3 text-xl" type="submit">Publish</button>
</form>

<%- include('./../partials/footer');%>